@import '~src/less/variables';

.container {
	position: relative;

	padding: 20px @padding-large + @padding-medium;

	font-size: @font-size-xlarge;
	font-weight: 500;

	background-color: @brand-yellow;
	color: @brand-black;

	cursor: default;
}

.closeButton {
	cursor: pointer;
}
