@import '~less/variables';

// Total width/height of component is 70px

.container {
	margin: 10px;
	display: inline-block;
}

.disc {
	position: relative;

	width: 68px;
	height: 68px;

	margin-right: 2px;
	margin-bottom: 2px;

	border-radius: 40px;
	background-color: transparent;
}

.isRed {
	background-color: @brand-red;

	& .frontCircle {
		background-color: lighten(@brand-red, 10%);
	}
}

.isYellow {
	background-color: @brand-yellow;

	& .frontCircle {
		background-color: lighten(@brand-yellow, 20%);
	}
}

.frontCircle {
	position: relative;
	top: 2px;
    left: 2px;
}
