@import '~src/less/variables';

// Total width/height of component is 90px

.container {
	position: relative;
	width: 70px;
	height: 70px;

	margin: @padding-medium;

	display: inline-block;
}

.disc {
	width: 68px;
	height: 68px;

	margin-right: @padding-xsmall;
	margin-bottom: @padding-xsmall;

	border-radius: 40px;

	opacity: 1;
}

.isRed {
	background-color: @brand-red;

	& .frontCircle {
		background-color: lighten(@brand-red, 10%);
	}
}

.isYellow {
	background-color: @brand-yellow;

	& .frontCircle {
		background-color: lighten(@brand-yellow, 20%);
	}
}

.frontCircle {
	position: relative;
	top: 2px;
    left: 2px;
}
